// 1. Include specific theme variables
$primary: #F76436;
$secondary: #3C552D;
$success: #8BAE67;
$warning: #FFC01B;
$danger: #6b2737;
$info: #D7B26D;
$dark: #3b1002;
$light: #fde1d8;

$off-white: #F8F9FA;
$off-black: #495057;

// 2. Configure color contrast
$color-contrast-dark: #000;
$color-contrast-light: #fff;
$min-contrast-ratio: 2.0;

$custom-colors: (
  "color1": $primary,
  "color2": $secondary,
  "color3": $success,
  "color4": $danger,
  "color5": $warning,
  "color6": $info,
);
$theme-colors: map-merge(
	(
		"primary": $primary,
		"secondary": $secondary,
		"success": $success,
		"danger": $danger,
		"warning": $warning,
		"info": $info,
		"dark": $dark,
		"light": $light
	),
	$custom-colors
);

@import "./bootstrap/scss/bootstrap";

@import "./sidebar.scss";
@import "./rmo/nuisance.scss";
@import "./rmo/root.scss";
@import "./rmo/status.scss";
