// 1. Include specific theme variables
$primary: #f76436;
$secondary: #3c552d;
$success: #8bae67;
$warning: #ffc01b;
$danger: #6b2737;
$info: #d7b26d;
$dark: #3b1002;
$light: #fde1d8;

$off-white: #f8f9fa;
$off-black: #495057;

$primary-light-4: #faa489;
// 2. Configure color contrast
$color-contrast-dark: #000;
$color-contrast-light: #fff;
$min-contrast-ratio: 2;

$custom-colors: (
	"color1": $primary,
	"color2": $secondary,
	"color3": $success,
	"color4": $danger,
	"color5": $warning,
	"color6": $info,
);
$theme-colors: map-merge(
	(
		"primary": $primary,
		"secondary": $secondary,
		"success": $success,
		"danger": $danger,
		"warning": $warning,
		"info": $info,
		"dark": $dark,
		"light": $light,
	),
	$custom-colors
);

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

// Make custom SVG icons about the same size as other icons
i.bi svg {
	height: 18px;
	width: 18px;
}
@import "./vendor/bootstrap-5.3.8/scss/bootstrap";
$bootstrap-icons-font-dir: "/static/vendor/bootstrap-icons-1.13.1/fonts";
@import "./vendor/bootstrap-icons-1.13.1/bootstrap-icons";

@import "./sidebar.scss";
@import "./table.scss";
@import "./rmo/mailer.scss";
@import "./rmo/nuisance.scss";
@import "./rmo/root.scss";
@import "./rmo/status.scss";
@import "./sync/cell.scss";
@import "./sync/communication.scss";
@import "./sync/dashboard.scss";
@import "./sync/intelligence.scss";
@import "./sync/notification.scss";
@import "./sync/pool-csv-upload.scss";
@import "./sync/review.scss";
@import "./sync/settings.scss";
@import "./sync/settings-user-list.scss";
@import "./sync/upload-by-id.scss";
@import "./sync/upload-list.scss";
