{{ template "rmo/base.html" . }}

{{ define "title" }}Main{{ end }}
{{ define "extraheader" }}
{{ end }}
{{ define "content" }}
	<!-- Main Content -->
	<main>
		<section class="py-2 bg-primary text-white">
			<div class="banner-container d-flex justify-content-center">
				<img class="banner" src="/static/img/rmo/banner.jpg" />
			</div>
		</section>
		<section class="py-3 row text-center">
			<div class="container">
				<h1>Thanks!</h1>
				<p>You've allowed emails from Report Mosquitoes Online.</p>
				<p>Go ahead and close this page/tab/window whenever you're ready...</p>
				<p>...or maybe <a href="/">check out the site</a></p>
			</div>
		</section>
	</main>
{{ end }}
