{{ template "rmo/layout/base.html" . }}

{{ define "title" }}Main{{ end }}
{{ define "extraheader" }}
{{ end }}
{{ define "content" }}
	<!-- Main Content -->
	<main>
		<section class="py-2 bg-primary text-white">
			<div class="banner-container d-flex justify-content-center">
				<img class="banner" src="/static/img/rmo/banner.jpg" />
			</div>
		</section>
		<section class="py-3 row text-center">
			<div class="container">
				<form action="/email/unsubscribe" method="POST">
					<div class="form-section">
						<label for="email" class="form-label">Email address</label>
						<input
							type="email"
							name="email"
							placeholder="you@domain.com"
							value="{{ .Email }}"
						/>
					</div>
					<button type="submit" class="btn btn-warning btn-lg">
						Unsubscribe from all communications
					</button>
				</form>
			</div>
		</section>
	</main>
{{ end }}
