<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ template "title" . }} - Nidus Sync</title>
		<!-- Fontawesome Icons -->
		<link rel="icon" href="/static/ico/favicon-sync.ico" type="image/x-icon" />
		<script src="/static/js/events.js"></script>
		{{ block "extraheader" . }}{{ end }}
		{{ if not .Config.IsProductionEnvironment }}
			<script src="/.flogo/injector.js"></script>
		{{ end }}
	</head>
	<body>
		{{ template "sync/component/icons.html" }}
		<div class="d-flex">
			{{ if .User }}
				{{ template "sync/component/sidebar.html" . }}
			{{ end }}
		</div>

		<div id="content">
			{{ template "content" . }}
		</div>
		<div id="flogo"></div>
	</body>
</html>
