<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ template "title" . }} - Nidus Sync</title>
		<!-- Bootstrap CSS -->
		<link href="/static/vendor/css/bootstrap.min.css" rel="stylesheet" />
		<!-- Bootstrap Icons -->
		<link href="/static/css/bootstrap.css" rel="stylesheet" />
		<!-- favicon -->
		<link rel="icon" href="/static/favicon-sync.ico" type="image/x-icon" />
		{{ block "extraheader" . }}{{ end }}
	</head>
	<body>
		{{ template "content" . }}
		<script src="/static/vendor/js/bootstrap.bundle.min.js"></script>
	</body>
</html>
