<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ template "title" . }} - Nidus Sync</title>
		<!-- Bootstrap CSS -->
		<link href="/static/vendor/css/bootstrap.min.css" rel="stylesheet" />
		<!-- Bootstrap Icons -->
		<link rel="icon" href="/static/ico/favicon-sync.ico" type="image/x-icon" />
		{{ block "extraheader" . }}{{ end }}
		{{ if not .Config.IsProductionEnvironment }}
			<script src="/.flogo/injector.js"></script>
		{{ end }}
	</head>
	<body>
		{{ template "content" . }}
		<div id="flogo"></div>
		<script src="/static/vendor/bootstrap-5.3.8/bootstrap.bundle.min.js"></script>
	</body>
</html>
