.map-container {
	background-color: #e9ecef;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0,0,0,0.05);
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}
#map {
	height: 500px;
	width:100%;
	margin-bottom: 10px;
}
#map img {
	max-width: none;
	min-width: 0px;
	height: auto;
}
.search-box {
	box-shadow: 0 2px 10px rgba(0,0,0,0.1);
	border-radius: 8px;
}
@media (max-width: 768px) {
	.map-container {
		height: 300px;
	}
}
/* Base styles for circular checkboxes */
.custom-circle-checkbox .form-check-input {
	border-radius: 50%;
	width: 20px;
	height: 20px;
	cursor: pointer;
	margin-top: 0.25rem;
	background-image: none; /* Remove Bootstrap's default checkmark */
	position: relative;
}

/* Style for when checked */
.custom-circle-checkbox .form-check-input:checked {
	background-color: currentColor;
	border-color: currentColor;
}

/* Style for when unchecked - just an outline */
.custom-circle-checkbox .form-check-input:not(:checked) {
	background-color: transparent;
}

/* Colors based on data attribute */
.custom-circle-checkbox .form-check-input[data-color="danger"] {
	border-color: $red;
	color: $red;
}

.custom-circle-checkbox .form-check-input[data-color="success"] {
	border-color: $blue;
	color: $blue;
}

.custom-circle-checkbox .form-check-input[data-color="info"] {
	border-color: $green;
	color: $green;
}
