<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{template "title" .}} - Nidus Sync</title>
	<!-- Bootstrap CSS -->
	<link href="/static/vendor/css/bootstrap.min.css" rel="stylesheet">
	<!-- Fontawesome Icons -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	<!-- favicon -->
	<link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>
	{{block "extraheader" .}} {{end}}
</head>
<body>
{{if .User}}
	{{template "header" .User}}
{{end}}
{{template "content" .}}
<script src="/static/vendor/js/bootstrap.bundle.min.js"></script>
</body>
</html>
