{{ template "base.html" . }}

{{ define "title" }}Main{{ end }}
{{ define "extraheader" }}
{{ end }}
{{ define "content" }}
	<!-- Main Content -->
	<main>
		<!-- Introduction Section -->
		<section class="py-5 bg-primary text-white">
			<div class="banner-container">
				<img class="banner-image" src="/static/img/rmo/banner.jpg" />
			</div>
		</section>

		<!-- Services Section -->
		<section class="py-5">
			<div class="container">
				<h3 class="text-center mb-4">How Can We Help You Today?</h3>
				<div class="row g-4">
					<div class="col-md-4">
						<div class="card service-card h-100">
							<div class="card-body text-center">
								<div class="mb-3">
									{{ template "mosquito.svg" }}
								</div>
								<h4 class="card-title">Report Mosquito Nuisance</h4>
								<p class="card-text">
									Report areas with high adult mosquito activity causing
									discomfort or concern.
								</p>
								<a href="{{ .URL.Nuisance }}" class="btn btn-primary mt-3"
									>Report Problem</a
								>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card service-card h-100">
							<div class="card-body text-center">
								<div class="mb-3">
									{{ template "pond.svg" }}
								</div>
								<h4 class="card-title">Report Standing Water</h4>
								<p class="card-text">
									Report any water that has been sitting for several days, where
									mosquitoes can live.
								</p>
								<a href="{{ .URL.Water }}" class="btn btn-primary mt-3"
									>Report Source</a
								>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card service-card h-100">
							<div class="card-body text-center">
								<div class="mb-3">
									{{ template "check-report.svg" }}
								</div>
								<h4 class="card-title">Follow-up or Check Status</h4>
								<p class="card-text">
									Check on a previous request or view current mosquito activity
									in your area.
								</p>
								<a href="{{ .URL.Status }}" class="btn btn-primary mt-3"
									>Get Status</a
								>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
{{ end }}
