{{ define "sync/component/sidebar.html" }}
	<div id="sidebar">
		<div class="sidebar-header">
			<div class="logo-container">
				<img class="logo" src="/static/img/nidus-logo-256-transparent.png" />
			</div>
		</div>
		<button id="sidebarToggle" class="btn btn-sm p-0">
			<i id="sidebarToggleIcon" class="bi bi-chevron-left"></i>
		</button>

		<ul class="sidebar-menu">
			<li>
				<a
					href="/"
					data-bs-toggle="tooltip"
					data-bs-placement="right"
					title="Home"
				>
					<div class="menu-icon"><i class="bi bi-house"></i></div>
					<span class="menu-text ms-2">Home</span>
				</a>
			</li>
			<li>
				<a
					href="/admin"
					data-bs-toggle="tooltip"
					data-bs-placement="right"
					title="Admin Dashboard"
				>
					<div class="menu-icon"><i class="bi bi-headset"></i></div>
					<span class="menu-text ms-2">Admin</span>
				</a>
			</li>
			<li>
				<a
					href="/notification"
					data-bs-toggle="tooltip"
					data-bs-placement="right"
					title="Notifications"
				>
					<div class="menu-icon"><i class="bi bi-bell"></i></div>
					{{ if gt (len .Notifications) 0 }}
						<span
							class="position-absolute translate-middle badge rounded-pill bg-primary"
						>
							{{ if gt (len .Notifications) 99 }}
								99+
							{{ else }}
								{{ len .Notifications }}
							{{ end }}
							<span class="visually-hidden">unread notifications</span>
						</span>
					{{ end }}
					<span class="menu-text ms-2">Notifications</span>
				</a>
			</li>
			<li>
				<a
					href="/message"
					data-bs-toggle="tooltip"
					data-bs-placement="right"
					title="Messages"
				>
					<div class="menu-icon"><i class="bi bi-chat-dots"></i></div>
					<span class="menu-text ms-2">Messages</span>
				</a>
			</li>
			<li>
				<a
					href="/pool"
					data-bs-toggle="tooltip"
					data-bs-placement="right"
					title="Pools"
				>
					<div class="menu-icon"><i class="bi bi-water"></i></div>
					<span class="menu-text ms-2">Pool</span>
				</a>
			</li>
			<li>
				<a
					href="/radar"
					data-bs-toggle="tooltip"
					data-bs-placement="right"
					title="Radar"
				>
					<div class="menu-icon"><i class="bi bi-radar"></i></div>
					<span class="menu-text ms-2">Radar</span>
				</a>
			</li>
			<li>
				<a
					href="/service-request"
					data-bs-toggle="tooltip"
					data-bs-placement="right"
					title="Service Requests"
				>
					<div class="menu-icon"><i class="bi bi-person-raised-hand"></i></div>
					<span class="menu-text ms-2">Service Requests</span>
				</a>
			</li>
			<li>
				<a
					href="/setting"
					data-bs-toggle="tooltip"
					data-bs-placement="right"
					title="Settings"
				>
					<div class="menu-icon"><i class="bi bi-gear"></i></div>
					<span class="menu-text ms-2">Settings</span>
				</a>
			</li>
			<li>
				<a
					href="#"
					data-bs-toggle="tooltip"
					data-bs-placement="right"
					title="Help"
				>
					<div class="menu-icon"><i class="bi bi-question-circle"></i></div>
					<span class="menu-text ms-2">Help</span>
				</a>
			</li>
		</ul>
	</div>
{{ end }}
