{{template "base.html" .}}

{{define "title"}}Data Entry{{end}}
{{define "extraheader"}}
{{end}}
{{define "content"}}
<div class="container">
	<h1>Mock Listing</h1>
	<table class="table">
		<thead>
			<tr>
				<th scope="col" style="min-width: 20vw">Link</th>
				<th scope="col">Name</th>
				<th scope="col">Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="/mock/admin">/mock/admin</a></td>
				<td>Admin</td>
				<td>Used by office admins to handle phone calls and other public-facing responsibilities</td>
			</tr>
			<tr>
				<td><a href="/mock/data-entry">/mock/flyover-data-entry</a></td>
				<td>Flyover Data Entry</td>
				<td>Used to upload CSV files with information about problematic pools</td>
			</tr>
			<tr>
				<td><a href="/mock/dispatch">/mock/dispatch</a></td>
				<td>Dispatch</td>
				<td>Used each day to calculate the working routes for technicians</td>
			</tr>
			<tr>
				<td><a href="/mock/report">/mock/report</a></td>
				<td>Reporting Overview</td>
				<td>Shows examples of text message contents, printable QR codes, and email bodies for sending to the public to help them self-report</td>
			</tr>
			<tr>
				<td><a href="/mock/report/abc-123">/mock/report/abc-123</a></td>
				<td>Self-Report</td>
				<td>A page for members of the public to report a green pool.</td>
			</tr>
			<tr>
				<td><a href="/mock/service-request">/mock/service-request</a></td>
				<td>Service Request</td>
				<td>A page for members of the public to make a direct service request</td>
			</tr>
			<tr>
				<td><a href="/mock/setting">/mock/setting</a></td>
				<td>Settings</td>
				<td>A page for management to control the behavior of Nidus</td>
			</tr>
		</tbody>
	</table>
</div>
{{end}}
